<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/Ex_2.css">
    <script src="../static/ex2_js.js"></script>
</head>
<body class="bodyHome" onload="changeByOpeningHours(), markOnNav()">
    <nav class="navi">
        <li><a href="home page.html">Home Page</a></li>
        <li><a href="sign up.html">Go To Order</a></li>
    </nav>
    <header>
        <div id="header">Dana's cookies shop</div>
    </header>
    <div class="text">
        <h1 id="first">Welcome to</h2>
        <h1 id="animation"> Dana's cookies shop</h2>
        <h1 id="second"> Press 'Go To Order' to make an order</h2><br>
        <label for="open" id="hours">Opening Hours: 10:00 - 20:00</label><br><br>
        <label id="open"></label>
    </div>
</body>
</html>