<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div style= "color:palevioletred; font-size: 40px; margin: 15px" > Dana's cookies shop</div>
    </header>
    <img src="../static/welcome cookies.jpg" alt="welcome"><br>
    <p style="margin: 5px;">
        <span style="color: pink; font-size: 20px;"> welcome to Dana's cookies shop <br> press 'go to order' to make an order
        </span><br>
        <nav>
            <a href="../templates/sign up.html">go to order</a>
        </nav>
    </p>
</body>
</html>